In [1]:
import pandas as pd

In [2]:
index=pd.read_csv('google_index.csv')
index

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22958,ZA_WC_DC3,ChIJK_tKPIMB0h0Ra5Do064SuR8,Q1899307,NaN,ZA,South Africa,WC,Western Cape,DC3,Overberg,NaN,NaN,ZA,ZAF,2
22959,ZA_WC_DC4,ChIJ-YctajEi1B0R80qCAelNcY0,Q220249,NaN,ZA,South Africa,WC,Western Cape,DC4,Garden Route,NaN,NaN,ZA,ZAF,2
22960,ZA_WC_DC5,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,WC,Western Cape,DC5,Central Karoo,NaN,NaN,ZA,ZAF,2
22961,ZM,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,ZM,ZMB,0
22962,ZW,ChIJYXGxBuekMRkR7r_LxV84wKE,Q954,country/ZWE,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,ZW,ZWE,0

In [3]:
index[index['country_name']=='France']

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
10217,FR,ChIJMVd4MymgVA0R99lHx5Y__Ws,Q142,country/FRA,FR,France,NaN,NaN,NaN,NaN,NaN,NaN,FR,FRA,0
10218,FR_ARA,ChIJ_fju9ukE9UcROuOAIn5wRjk,Q18338206,nuts/FR7,FR,France,ARA,Auvergne-Rhône-Alpes,NaN,NaN,NaN,NaN,FR,FRA,1
10219,FR_ARA_01,ChIJ6WS-4x1Yi0cRgCW55CqrCAM,Q3083,NaN,FR,France,ARA,Auvergne-Rhône-Alpes,01,Ain,NaN,NaN,FR,FRA,2
10220,FR_ARA_03,ChIJLwz0cLrb8EcRoCXjy688CQM,Q3113,NaN,FR,France,ARA,Auvergne-Rhône-Alpes,03,Allier,NaN,NaN,FR,FRA,2
10221,FR_ARA_07,ChIJVc2eRUbWtBIR4CXjy688CQM,Q3148,NaN,FR,France,ARA,Auvergne-Rhône-Alpes,07,Ardèche,NaN,NaN,FR,FRA,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10330,FR_PDL_49,ChIJ0djq2pfWB0gRkCgJHlI3DQM,Q12584,NaN,FR,France,PDL,Pays de la Loire,49,Maine-et-Loire,NaN,NaN,FR,FRA,2
10331,FR_PDL_53,ChIJmYwMYySqCUgR0CgJHlI3DQM,Q12620,NaN,FR,France,PDL,Pays de la Loire,53,Mayenne,NaN,NaN,FR,FRA,2
10332,FR_PDL_72,ChIJuxI_om6J4kcRACoJHlI3DQM,Q12740,NaN,FR,France,PDL,Pays de la Loire,72,Sarthe,NaN,NaN,FR,FRA,2
10333,FR_PDL_85,ChIJwZ38qxQwBEgR0CoJHlI3DQM,Q12798,NaN,FR,France,PDL,Pays de la Loire,85,Vendée,NaN,NaN,FR,FRA,2
10334,FR_PM,ChIJ0VcO-0tLbEsREVxs6jdncZw,Q34617,NaN,FR,France,PM,Saint Pierre and Miquelon,NaN,NaN,NaN,NaN,FR,FRA,1

In [4]:
gov=pd.read_csv('google_govment.csv')
gov=gov[gov['location_key']=='FR'].drop(columns='location_key')
print(gov.columns)
gov=gov[['date', 'school_closing', 'workplace_closing', 'cancel_public_events',
       'restrictions_on_gatherings', 'public_transport_closing',
       'stay_at_home_requirements', 'restrictions_on_internal_movement',
       'income_support',
       'facial_coverings', 'vaccination_policy', 'stringency_index']]
gov

Index(['date', 'school_closing', 'workplace_closing', 'cancel_public_events',
       'restrictions_on_gatherings', 'public_transport_closing',
       'stay_at_home_requirements', 'restrictions_on_internal_movement',
       'international_travel_controls', 'income_support', 'debt_relief',
       'fiscal_measures', 'international_support',
       'public_information_campaigns', 'testing_policy', 'contact_tracing',
       'emergency_investment_in_healthcare', 'investment_in_vaccines',
       'facial_coverings', 'vaccination_policy', 'stringency_index'],
      dtype='object')

,date,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,income_support,facial_coverings,vaccination_policy,stringency_index
118928,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
118929,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
118930,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
118931,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
118932,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
119824,2022-06-15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,23.15
119825,2022-06-16,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,23.15
119826,2022-06-17,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,23.15
119827,2022-06-18,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,23.15
119828,2022-06-19,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,23.15

In [5]:
hospital=pd.read_csv('google_hospital.csv')
hospital = hospital[hospital['location_key']=='FR'].drop(columns='location_key')
print(hospital.columns)
hospital=hospital[['date', 'new_hospitalized_patients', 'cumulative_hospitalized_patients',
       'current_hospitalized_patients', 'new_intensive_care_patients',
       'cumulative_intensive_care_patients', 'current_intensive_care_patients',]]
hospital

Index(['date', 'new_hospitalized_patients', 'cumulative_hospitalized_patients',
       'current_hospitalized_patients', 'new_intensive_care_patients',
       'cumulative_intensive_care_patients', 'current_intensive_care_patients',
       'new_ventilator_patients', 'cumulative_ventilator_patients',
       'current_ventilator_patients'],
      dtype='object')

,date,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients
1160785,2020-03-04,NaN,NaN,NaN,NaN,NaN,15.0
1160786,2020-03-05,NaN,NaN,NaN,NaN,NaN,23.0
1160787,2020-03-06,NaN,NaN,NaN,NaN,NaN,39.0
1160788,2020-03-07,NaN,NaN,NaN,NaN,NaN,45.0
1160789,2020-03-09,NaN,NaN,NaN,NaN,NaN,66.0
...,...,...,...,...,...,...,...
1161703,2022-09-11,44.0,911502.0,13233.0,1.0,145233.0,741.0
1161704,2022-09-12,518.0,912020.0,13183.0,41.0,145274.0,725.0
1161705,2022-09-13,550.0,912570.0,13065.0,63.0,145337.0,727.0
1161706,2022-09-14,428.0,912998.0,12971.0,41.0,145378.0,730.0
1161707,2022-09-15,475.0,913473.0,12996.0,50.0,145428.0,737.0

In [6]:
vaccine=pd.read_csv('google_vaccination.csv')
vaccine = vaccine[vaccine['location_key']=='FR'].drop(columns='location_key')
vaccine=vaccine[['date', 'new_persons_vaccinated', 'cumulative_persons_vaccinated',
       'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated',
       'new_vaccine_doses_administered',
       'cumulative_vaccine_doses_administered']]
print(vaccine.columns)
vaccine

Index(['date', 'new_persons_vaccinated', 'cumulative_persons_vaccinated',
       'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated',
       'new_vaccine_doses_administered',
       'cumulative_vaccine_doses_administered'],
      dtype='object')

,date,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
329858,2020-12-27,609.0,609.0,55.0,55.0,664.0,664.0
329859,2020-12-28,683.0,1292.0,42.0,97.0,725.0,1389.0
329860,2020-12-29,384.0,1676.0,19.0,116.0,403.0,1792.0
329861,2020-12-30,443.0,2119.0,18.0,134.0,461.0,2253.0
329862,2020-12-31,440.0,2559.0,23.0,157.0,463.0,2716.0
...,...,...,...,...,...,...,...
330480,2022-09-10,8.0,54554736.0,4.0,53659137.0,12.0,108213873.0
330481,2022-09-11,1.0,54554737.0,1.0,53659138.0,2.0,108213875.0
330482,2022-09-12,18.0,54554755.0,21.0,53659159.0,39.0,108213914.0
330483,2022-09-13,560.0,54555315.0,453.0,53659612.0,1013.0,108214927.0
330484,2022-09-14,590.0,54555905.0,477.0,53660089.0,1067.0,108215994.0

In [7]:
vaccine.isna().sum()

date                                     0
new_persons_vaccinated                   0
cumulative_persons_vaccinated            0
new_persons_fully_vaccinated             0
cumulative_persons_fully_vaccinated      0
new_vaccine_doses_administered           0
cumulative_vaccine_doses_administered    0
dtype: int64

In [8]:
epidemiology=pd.read_csv('google_epidemiology.csv')
epidemiology = epidemiology[epidemiology['location_key']=='FR'].drop(columns='location_key')
epidemiology

,date,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
6960091,2020-01-01,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6960092,2020-01-02,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6960093,2020-01-03,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6960094,2020-01-04,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6960095,2020-01-05,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6961075,2022-09-11,16422.0,6.0,NaN,NaN,33690665.0,154489.0,NaN,NaN
6961076,2022-09-12,4579.0,40.0,NaN,NaN,33729943.0,154529.0,NaN,NaN
6961077,2022-09-13,41850.0,49.0,NaN,NaN,33766090.0,154578.0,NaN,NaN
6961078,2022-09-14,33575.0,33.0,NaN,NaN,NaN,154611.0,NaN,NaN
6961079,2022-09-15,33263.0,33.0,NaN,NaN,NaN,154644.0,NaN,NaN

In [9]:
epidemiology.isna().sum()

date                      0
new_confirmed             0
new_deceased              0
new_recovered           196
new_tested              159
cumulative_confirmed      2
cumulative_deceased       0
cumulative_recovered    183
cumulative_tested       152
dtype: int64

In [10]:
hospital_and_gov= hospital.join(gov.set_index('date',drop=True), on='date')
h_g_e=hospital_and_gov.join(epidemiology.set_index('date',drop=True), on='date')
full=h_g_e.join(vaccine.set_index('date',drop=True), on='date')

In [11]:
full.dropna(axis=0).to_csv('france_covid_data.csv',index=False)